################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Revit_AutoSheet/obj/Debug
/Revit_AutoSheet/.vs/Revit_AutoSheet/v15/Server/sqlite3
/.vs/Revit AutoSheet/v15
/Revit_AutoSheet/bin/Debug
/Revit_AutoSheet/Properties
/Revit AutoSheet.sln
